
<div ng-controller="FormInitController as vm" class="site-request">


    <div class="row">
        <h2>
            <i class="fa fa-dot-circle-o"></i>
            What type of site do you need to create?
        </h2>

    </div>
       

    <div ng-repeat="t in vm.siteTypes" class="form-group row">
        <div class="col-sm-2">
            <h3>{{ t.name }}</h3>
        </div>
        <div class="col-sm-8" style="margin-top:5px;">
            {{ t.description }}

            <ul class="small">
                <li ng-repeat="e in t.examples" ng-bind-html="e | formatAsHtml"></li>
            </ul>
        </div>

        <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="vm.selectType(t)">Select</button>
    </div>


</div>








